@model _10453370_POE_WebApp.Models.Venue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Venue_ID" />
            <div class="form-group">
                <label asp-for="Venue_Name" class="control-label"></label>
                <input asp-for="Venue_Name" class="form-control" />
                <span asp-validation-for="Venue_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Model.ImageURL))
            {
                <div class="form-group">
                    <label>Current Image</label><br />
                    <img src="@Model.ImageURL" alt="Venue Image" width="150" height="150" style="object-fit:cover; border-radius:8px; " />
                </div>
            }

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" name="ImageFile" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ImageURL" value="www.google.com" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
