@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventEase</h1>
    <p>EventEase is a Web Application, which was designed to help businesses with the storing of bookings, events, and venues.</p>
    <h2>Our Goals: </h2>
    <p>To keep creating new solutions, which can help people complete their jobs and task, with less effort. In the case of Eventease, we are targeting Event Planners</p>
</div>
